html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* font-family: 'Open Sans', sans-serif; */

/* font-family: 'Oswald', sans-serif; */

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

:root {
  --accent-color: #f7654a;
  --dark-color: #404149;
  --gray-color: #999999;
  --white-color: #ffffff;
  --background-color: #e5e5e5;
}

@media screen and(max-width: 380px) {
    .h1{
        font-size: 46px;
        line-height: 64px;
    }
}

/* Style for text */

.text-h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.text-h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0.02em;
}

.text-p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.text-p-reviews {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 21px;
}

.header {
  min-height: 740px;
  background-image: url(../images/firstScreenBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 112px;
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
}

.burger__line:last-child {
  margin: 0;
}

.h1 {
  max-width: 734px;
  font-weight: 500;
  font-size: 64px;
  line-height: 95px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0 auto 17px;
  color: var(--white-color);
}

.h4 {
  max-width: 734px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto;
}

.about {
  min-height: 1080px;
  position: relative;
  padding-top: 250px;
}

.info {
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
  padding: 57px 130px;
  transform: translateX(-50%);
  position: absolute;
  top: -150px;
  left: 50%;
  background-color: #f7f7f7;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.about__grid-item {
  width: 190px;
  text-align: center;
}

.about__h4 {
  color: var(--accent-color);
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.about__h5 {
  color: #000000;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

.about__p {
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .info {
    position: relative;
    padding: 30px 0;
  }

  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.project-h2 {
  text-align: center;
  margin-bottom: 49px;
}

.about__flex {
  display: flex;
}

.about__flex-item {
  max-width: 350px;
  margin-right: 30px;
}

.about__flex-item:last-child {
  margin-right: 0;
}

.project-img {
  margin-bottom: 45px;
}

.rectangle {
  width: 56px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}

.project-h3 {
  color: var(--dark-color);
  margin-bottom: 14px;
}

.project-p {
  color: var(--gray-color);
}

@media screen and (max-width: 1280px) {
  .about {
    padding: 450px 15px 110px 15px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .about__flex {
    flex-direction: column;
    align-items: center;
  }

  .about__flex-item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .about__flex-item:last-child {
    margin-bottom: 0px;
  }
}

.request {
  background-color: var(--accent-color);
  padding: 30px 0 38px;
}

.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request__flex-left {
  color: var(--white-color);
}

.request__flex-right {
}

.request__h4 {
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: 0.02em;
}

.request__h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.request__btn {
  margin-top: 23px;
  border: none;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 14px 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.request__icon {
  margin-right: 15px;
}

@media screen and (max-width: 1280px) {
  .request {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 768px) {
  .request__flex {
    flex-wrap: wrap;
  }
}

.services {
  padding: 150px 0;
}

.section__h2,
.section__h4 {
  text-align: center;
  color: #000;
}

.section__h2 {
  margin-bottom: 54px;
}

.section__h4 {
  max-width: 172px;
  margin: 0 auto;
  text-transform: uppercase;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.services__grid-item {
  padding: 59px 0;
  background-color: #f7f7f7;
  width: 350px;
}

.services__icon {
  margin: 0 auto 21px;
}

@media screen and (max-width: 1280px) {
    .services{
        padding-right: 15px;
        padding-left: 15px;
    }

    .services__grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .services__grid-item {
        width: 100%;
    } 
}

@media screen and (max-width: 768px) {
    .services__grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

.portfolio {
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 0;
}

.portfolio__grid-item {

}

.portfolio__img {
}

@media screen and (max-width: 1280px) {
    .portfolio__grid {
        grid-template-columns: repeat(2, 1fr);   
    }
}

@media screen and (max-width: 768px) {
    .portfolio__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.question {
  padding: 152px 0 110px;
}

.question .section__h2 {
  margin-bottom: 50px;
}

.question__items {
}
.question__item {
}

.question__h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 23px;
}

.question__p {
  max-width: 730px;
  margin-bottom: 37px;
  color: var(--gray-color);
}

.question__h3.close{
  margin-bottom: 33px;
}

.question__h3.open::before,
.question__h3.close::before  {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 13px 3px 3px;
}

.question__h3.open::before {
  transform: rotate(-90deg);
}

.question__h3.close + .question__p {
  display: none
}

@media screen and (max-width: 1280px) {
  .question{
    padding: 150px 15px 110px;
  }
}

